
.board{
    max-width: 900px;
    width: 100%;
    margin:0 auto;
    padding-top:25vh;
    
}
.boardList{ 
        height: 30vh;
        overflow:hidden; 
        overflow-y:scroll;
        list-style: none;
        padding-inline-start: 0;
        padding: 2vh;
        
            border:white 5px dotted;
            
    }
.title{
    color: whitesmoke;
    font-size: 4em;
    
    width: fit-content;
    margin: 0 auto;
}

