.loginSection {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginInput {
    display:block;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 15vw;
}

.loginButton {
    padding: 1vh;
}